.modal-img {
  display: block;
  margin: 0 auto;
  width: 66.67%;
  height: auto;
}

body {
  background-color: #4b0082;
  color: #fff;
}

.container {
  width: 1140px;
  margin: 0 auto;
  background-color: #2e0854;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #483d8b;
  padding: 10px;
}

.menu__list {
  margin: 0;
  padding: 10px 20px;
  list-style-type: none;
  border-radius: 4px;
  background: #e2e2e2;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  display: none;
  flex-direction: column;
  gap: 10px;
  animation: menu-showing .3s;
}

.menu__list.show {
  display: flex;
}

.menu__link {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

.info {
  margin-top: 20px;
  padding: 20px;
  background: #483d8b;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.portfolio__content {
  display: none;
  margin-top: 10px;
  background-color: #483d8b;
  padding: 10px;
  border-radius: 5px;
}

.info__nickname {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.info__nickname:hover {
  color: #004080;
}

.portfolio__btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.portfolio__btn:hover {
  background: #ddd;
}

.portfolio__btn span {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.portfolio__btn svg {
  width: 20px;
  height: 20px;
  fill: #000;
}

.portfolio__btn.opened span {
  transform: rotate(180deg);
}

.portfolio__btn.opened svg {
  transform: rotate(180deg);
}

@keyframes portfolio-opening {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



